*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    background-image: linear-gradient(to right bottom, #2c73d2, #4b6ed0, #6169cd, #7464c8, #845ec2);
    

  }
  
  body{
    font-family: "poppins", sans-serif;
    background-image: transparent;
    background-image: linear-gradient(to right bottom, #2c73d2, #4b6ed0, #6169cd, #7464c8, #845ec2);
  }
  
  /* ============ CSS PER TUTTE LE SEZIONI ============== */
  section{
    height: 100vh; 
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    /* background-image: linear-gradient(to right bottom, #2c73d2, #4b6ed0, #6169cd, #7464c8, #845ec2); */
  }


  
  .work-section,
  .contact-section{
    width: 100%;
    height: 100vh; 
    scroll-snap-align: center;
  }